.login {
    display: flex;  /* Define o contêiner como um flexbox */
    flex-direction: column;  /* Alinha os itens em uma coluna */
    align-items: center;  /* Centraliza os itens horizontalmente */
    background-color: #f8fafc;  /* Define a cor de fundo */
    font-family: Arial, sans-serif;  /* Define a fonte padrão */
    padding: 20px;  /* Adiciona espaço interno ao redor do contêiner */
    min-height: 100vh;  /* Define uma altura mínima de 100% da altura da tela */
}

.login h1 {
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    margin: 15px 0;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
  }
  
.campos {
    padding: 8px;
    font-size: 16px;
  }
  
form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os elementos */
    width: 100%; /* Ocupa toda a largura do contêiner */
}

input {
    padding: 10px;
    font-size: 1.5em;
    width: 100%; /* Ocupa toda a largura do formulário */
    box-sizing: border-box; /* Inclui padding na largura total */
}

button{
    padding: 10px;
    font-size: 1.5em;
}